<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Generic Website Title</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/styles/floating-labels.css" rel="stylesheet">
</head>

<body>
    <form class="form-signin" method="POST" action="/login">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Login to Website</h1>
        </div>

        <div class="form-label-group">
            <input type="email" id="email" name="email" class="form-control" value="email@email.com" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="password" name="password" class="form-control" value="password" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-block submit-button" type="submit">Sign in</button>


        <p class="mt-5 mb-3 text-muted text-center">&copy; <span id="year"></span></p>

        <!-- Dynamic year -->
        <script>
            const date = new Date();
            document.getElementById("year").innerText = date.getFullYear();
        </script>
    </form>


    <div id="datas"></div>
<script>
const fire = () => {

var invocation = new XMLHttpRequest();
const url = '/login';
invocation.open("POST", url, true, 'email@email.com', "password");
invocation.withCredentials = true;

}



function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        document.getElementById("datas").innerHTML = getCookie('signed_token');
        localStorage.setItem('storeage', getCookie('signed_token'));
    }
  };

  xhttp.open("GET", '/login', true);
  xhttp.send();
}

function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}


</script>
    <button onclick="loadDoc('signed_token')">fire</button>
</body>

</html>